
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #000000;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  color: #fff;
  font-size: 2.9rem;
  line-height: 1;

}


.big-heading-2 {
  font-family: "Montserrat-Black";
  color: #fff;
  font-size: 3.5rem;
  line-height: 1;
}

.big-heading-5 {
  color: #fff;
}

.publication-list {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align:justify;
}

.section-heading {
  font-size: 2rem;
  line-height: 1;

}

.card-head {
  color: #000000;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color:#fff;
}




.colored-section-2 {
  background-color: #366ec2;
  color:#fff;
}

.colored-section-3 {
  background-color: #fff;
}

/* .colored-section-4 {
  background-color: #366ec2;
} */

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;


}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #044ab3;
  color: #fff;
  text-align: center;
}

#title .container-fluid {
  padding: 2% 4.6% 4%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #366ec2;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 100%;
  border-radius: 0%;
  margin: 0px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

/* .price-text {
  font-size: 3rem;
  line-height: 1.5;
} */

.pricing-column {
  padding: 3% 2%;
}

.date-text {
  font-size: 1.5rem;
}

.contact-text {
  font-size: 1.5rem;
}

.responsive-card-table {
  color: #044ab3;
}






/* CTA Section */


/* Footer Section */


.copyright {
  color: #8f8f8f;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}




.head-section {
  background-color: #044ab3;
}

.about-content {
  background-color: ;
}

.txt-para {
  font-size: 1.4rem;
  align-content: justify;
}



.registration-heading {
  color: #000000;
}

#btn-1 {
  margin: 0.5rem;
}


#btn-2 {
  margin: 0.5rem;
}
